<!-- Blog Posts -->
<div class='row service'>
  <div class='col-lg-4 col-lg-offset-2 col-md-6 col-xs-12'>
    <h3><%= t 'blog_posts.title' %></h3>
    <p><%= t 'blog_posts.description' %></p>
  </div>

  <div class='col-lg-4 col-md-6 col-xs-12'>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/09/22/why-not-use-the-real-thing-x-men-confusion-on-argentina-location/" class="blog-link"><%= t 'blog_posts.xmen' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/10/13/vaquero/" class="blog-link"><%= t 'blog_posts.cowboy' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/10/25/location-double-medieval-village/" class="blog-link"><%= t 'blog_posts.medieval_village' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/10/31/for-halloween-spooky-film-location-a-town-killed-by-floods/" class="blog-link"><%= t 'blog_posts.halloween' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/10/20/abally-oscar/" class="blog-link"><%= t 'blog_posts.abally_oscar' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2012/01/19/goals-for-girls-documentary/" class="blog-link"><%= t 'blog_posts.goals_for_girls' %></a>
    </li>
    <li>
      <a href="https://filminginargentina.wordpress.com/2011/09/19/mi-primera-boda/" class="blog-link"><%= t 'first_wed' %></a>
    </li>
  </div>
</div>
