<!-- Campaigns -->
<div class='row service'>

  <div class='col-lg-4 col-lg-offset-2 col-md-6 col-xs-12'>
    <h3><%= t 'campaigns.title' %></h3>
    <p><%= t 'campaigns.description' %></p>

    <h4><%= t 'campaigns.siemens_title' %></h4>
    <p class='credits'>
      <%= t 'campaigns.siemens_credits_html' %>
    </p>
  </div>

  <div class='col-lg-4 col-md-6 col-xs-12'>
    <div class='popup-gallery'>
      <% %w(answers_1_hangar answers_2_sea answers_3_pipes answers_4_sky).each do |filename| %>
        <a href="<%= image_path "#{filename}.png" %>">
          <%= image_tag "#{filename}-thumbnail.png", class: 'thumbnail greyed-out' %>
        </a> 
      <% end %>
    </div>
  </div>
</div>
