<!-- Content -->
<h3><%= t 'content.title' %></h3>

<p><%= t 'content.description' %></p>

<div class='popup-gallery'>
  <h4><%= t 'content.shit_americans_title' %></h4>
  <p><%= t 'content.shit_americans_description' %></p>

  <a href="https://www.youtube.com/watch?v=rmJWh9BQvjE" class='mfp-iframe'>
    <img class='thumbnail greyed-out' src="https://i.ytimg.com/vi/5PXDYsx2PxQ/mqdefault.jpg">
  </a> 

  <p class='credits'><%= t 'content.shit_americans_credits_html' %></p>
</div>

<div class='popup-gallery'>
  <h4><%= t 'content.voseo_title' %></h4>
  <p><%= t 'content.voseo_description' %></p>

  <a href="https://www.youtube.com/watch?v=rmJWh9BQvjE" class='mfp-iframe'>
    <img class='thumbnail greyed-out' src="https://i.ytimg.com/vi/t2QamUv-od8/mqdefault.jpg">
  </a> 

  <p class='credits'><%= t 'content.shit_americans_credits_html' %></p>
</div>



