<div class='container'>
  <div class='row'>

    <div class='col-md-12'>
      <div class='title'>
        <%= t 'copywriting.title' %>
      </div>
      <div class='subtitle'>
        <%= t 'copywriting.subtitle' %>
      </div>
    </div><!-- .col-md- -->

    <div class='col-md-4'>
      <h1><%= t 'copywriting.creative.title' %></h1>
      <ul>
        <li><%= t 'copywriting.creative.bullet_1' %></li>
        <li><%= t 'copywriting.creative.bullet_2' %></li>
        <li><%= t 'copywriting.creative.bullet_3' %></li>
      </ul>
    </div><!-- .col-md- -->

    <div class='col-md-4'>
      <h1><%= t 'copywriting.social_media.title' %></h1>
      <ul>
        <li><%= t 'copywriting.social_media.bullet_1' %></li>
        <li><%= t 'copywriting.social_media.bullet_2' %></li>
        <li><%= t 'copywriting.social_media.bullet_3' %></li>
        <li><%= t 'copywriting.social_media.bullet_4' %></li>
      </ul>
    </div><!-- .col-md- -->

    <div class='col-md-4'>
      <h1><%= t 'copywriting.music.title' %></h1>
      <p><%= t 'copywriting.music.description' %></p>
    </div><!-- .col-md- -->

  </div><!-- .row -->
</div><!-- .container -->
