<div class='section-head'>
  <div class='row wow fadeIn'>

    <div class='col-md-12'>
      <h1><%= t 'copywriting.title' %></h1>
      <p><%= t 'copywriting.subtitle_html' %></p>
    </div>

  </div><!-- .row -->
</div><!-- .section-head -->

<div class='section-body'>
  <div id='creative'>
    <h2 class='subsection-title'><%= t 'creative.title' %></h2>

    <%= render partial: 'services/storyboard' %>

    <%= render partial: 'services/infographics' %>

    <%= render partial: 'services/campaigns' %>
  </div>

  <div id='social-media'>
    <h2 class='subsection-title'><%= t 'social_media.title' %></h2>

    <%= render partial: 'services/strategy' %>

    <%= render partial: 'services/content' %>

    <%= render partial: 'services/community_management' %>

    <%= render partial: 'services/blog_posts' %>
  </div>
</div><!-- .section-body -->
