<!-- Infographics -->

<h3><%= t 'infographics.title' %></h3>
<p><%= t 'infographics.description' %></p>

<div class='mod'>
  <%= image_tag 'dissectememe.jpg' %>
  <p><%= t 'infographics.credits_html' %></p>
</div>

<a href='<%= image_path 'dissectememe.jpg' %>'><%= t '.infographics.disectememe_title' %></a>

