<!-- Infographics -->
<div class='row service'>
  <div class='col-md-6 col-sm-12'>
    <div class='popup-gallery'>
      <a href="<%= image_path 'dissectememe.png' %>">
        <%= image_tag 'dissectememe-thumbnail.png', class: 'thumbnail greyed-out' %>
      </a>
    </div>
  </div>

  <div class='col-md-6 col-sm-12'>
    <h3><%= t 'infographics.title' %></h3>
    <p><%= t 'infographics.description' %></p>

    <h4><%= t 'infographics.disectememe_title' %></h4>
    <p class='credits'>
      <%= t 'infographics.credits_html' %>
    </p>
  </div>
</div>
