<!-- Storyboard -->
<h3><%= t 'storyboard.title' %></h3>
<p><%= t 'storyboard.description' %></p>

<a href="<%= image_path 'b2x_features.png' %>" data-gallery>
  <%= t 'storyboard.b2x_title' %>
</a>

<div class='mod'>
  <p><%= t 'storyboard.b2x_title' %></p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/AvRa8oxS4Zw" frameborder="0" allowfullscreen></iframe>
  <p><%= t 'storyboard.credits_html' %></p>
</div><!-- .mod -->
