<div class='section-head'>
  <div class='row'>

    <div class="col-md-12">
      <h1>
        <%= t 'translation.title' %>
      </h1>
    </div>

    <div class="col-md-12">
      <p><%= t 'translation.quote' %></p>
    </div>
  </div>
</div>


<div class='section-body'>
  <div class='row service'>

    <div class='col-lg-4 col-lg-offset-2 col-md-6 col-xs-12'>
      <h3><%= t 'translation.english_to_spanish' %></h3>
      <p><%= t 'translation.description_english' %></p>

      <h3><%= t 'translation.spanish_to_english' %></h3>
      <p><%= t 'translation.description_spanish' %></p>

      <div class='flags' style="display:none">
        <span class="flag-icon flag-icon-us greyed-out"></span>
        <i class="fa fa-arrows-h hvr-wobble-horizontal"></i>
        <span class="flag-icon flag-icon-ar greyed-out"></span>
      </div>
    </div>

    <div class='col-lg-4 col-md-6 col-xs-12'>
      <h4><%= t 'translation.types_of_documents' %></h4>
      <ul>
        <li><%= t 'translation.scripts' %></li>
        <li><%= t 'translation.subtitles' %></li>
        <li><%= t 'translation.presentations' %></li>
        <li><%= t 'translation.legal_documents' %></li>
        <li><%= t 'translation.corporate_communication' %></li>
        <li><%= t 'translation.proofreading' %></li>
        <li><%= t 'translation.web_pages' %></li>
      </ul>
    </div>

  </div>
</div>
