<div class='section-head'>
  <div class='row wow fadeIn'>

    <div class='col-md-12'>
      <h1>
        <%= t 'translation.title' %>
      </h1>
    </div>

    <div class='col-md-8 col-md-offset-2'>
      <p><%= t 'translation.quote' %></p>
    </div>
  </div>
</div>


<div class='section-body'>
  <div class='row service'>

    <div class='col-md-6 wow fadeIn'>
      <h3><%= t 'translation.subtitle' %></h3>
      <p><%= t 'translation.description' %></p>

      <span class="flag-icon flag-icon-us greyed-out"></span>
      <span class="flag-icon flag-icon-ar greyed-out"></span>
    </div>

    <div class='col-md-6 wow fadeIn'>
      <ul>
        <li><%= t 'translation.scripts' %></li>
        <li><%= t 'translation.subtitles' %></li>
        <li><%= t 'translation.presentations' %></li>
        <li><%= t 'translation.legal_documents' %></li>
        <li><%= t 'translation.corporate_communication' %></li>
        <li><%= t 'translation.proofreading' %></li>
        <li><%= t 'translation.web_pages' %></li>
      </ul>
    </div>

  </div>
</div>
