<div class='container'>
  <div class='row'>

    <div class='col-md-12'>
      <div class='title'>
        <%= t 'translation.title' %>
      </div>
      <div class='quote'>
        <%= t 'translation.quote' %>
      </div>
      <div class='subtitle'>
        <%= t 'translation.subtitle' %>
      </div>

      <ul>
        <li><%= t 'translation.bullet_1' %></li>
        <li><%= t 'translation.bullet_2' %></li>
        <li><%= t 'translation.bullet_3' %></li>
        <li><%= t 'translation.bullet_4' %></li>
        <li><%= t 'translation.bullet_5' %></li>
        <li><%= t 'translation.bullet_6' %></li>
        <li><%= t 'translation.bullet_7' %></li>
      </ul>
    </div><!-- .col-md- -->

  </div><!-- .row -->
</div><!-- .container -->
