<div class='row'>

  <div class='col-md-6'>
    <h1><%= t 'translation.title' %></h1>
    <blockquote>
      <p><%= t 'translation.quote' %></p>
    </blockquote>
    <div class='subtitle'>
      <%= t 'translation.subtitle' %>
    </div>
    <ul id='translation-options'>
      <li><%= t 'translation.bullet_1' %></li>
      <li><%= t 'translation.bullet_2' %></li>
      <li><%= t 'translation.bullet_3' %></li>
      <li><%= t 'translation.bullet_4' %></li>
      <li><%= t 'translation.bullet_5' %></li>
      <li><%= t 'translation.bullet_6' %></li>
      <li><%= t 'translation.bullet_7' %></li>
    </ul>
  </div><!-- .col-md- -->

</div><!-- .row -->
