<div id='page-content-wrapper'>

  <div class='container-fluid'>

    <div id='copylingual' class='section'>
      <%= render partial: 'landing' %>
    </div>

    <div id='copywriting' class='section'>
      <%= render partial: 'copywriting' %>
    </div>

    <div id='translation' class='section'>
      <%= render partial: 'translation' %>
    </div>

    <div id='contact' class='footer'>
      <%= render partial: 'shared/contact' %>
    </div>

    <%= render partial: 'shared/bio' %>
  </div><!-- .container -->
</div><!-- #page-content-wrapper -->
