<div id='sidebar-wrapper'>
  <ul class='nav nav-tabs sidebar-nav' role='tablist'>
    <li><a href='#copylingual'><%= t 'landing.title' %></a></li>
    <li><a href='#copywriting'><%= t 'copywriting.title' %></a></li>
    <li class='subitem'><a href='#creative'><%= t 'creative.title' %></a></li>
    <li class='subitem'><a href='#social-media'><%= t 'social_media.title' %></a></li>
    <li><a href='#translation'><%= t 'translation.title' %></a></li>
    <li><a href='#music'><%= t 'music.title' %></a></li>
  </ul>
</div>
